'*':
  'editor':
    'showIndentGuide': true
    'fontFamily': 'Menlo'
    'fontSize': 15
    'invisibles': {}
  'core':
    'themes': [
      'atom-dark-ui'
      'atom-dark-syntax'
    ]
  'exception-reporting':
    'userId': 'a2129351-75e1-3a54-86b2-77b5b42317a3'
  'welcome':
    'showOnStartup': false
  'release-notes':
    'viewedVersion': '0.89.0'
