"*":
  "atom-beautify":
    general:
      _analyticsUserId: "e5223546-8140-41aa-9b2a-73c11970b7b4"
    ruby:
      rubocop_path: "/usr/local/var/rbenv/versions/2.4.1/bin/rubocop"
  "atom-package-deps":
    ignored: []
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
  "autocomplete-ruby":
    rsensePath: "/usr/local/var/rbenv/shims/rsense"
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "react"
      "linter-rubocop"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    projectHome: "/Users/pierre/Code"
    telemetryConsent: "no"
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "file-icons":
    coloured: false
  "linter-rubocop":
    command: "/usr/local/var/rbenv/shims/rubocop"
  "linter-ruby":
    rubyExecutablePath: "/usr/local/var/rbenv/shims/ruby"
  "linter-ui-default":
    panelHeight: 69
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "platformio-ide-terminal":
    style:
      fontFamily: "SF Mono"
      fontSize: "11"
      theme: "one-dark"
    toggles:
      autoClose: true
  "release-notes":
    viewedVersion: "0.89.0"
  "rubocop-auto-correct":
    rubocopCommandPath: "/usr/local/var/rbenv/shims/rubocop"
  "ruby-test":
    rspecFileCommand: "rspec --format doc {relative_path}"
    specFramework: "rspec"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
